$path: "/public/images/";

@import 'govuk-elements';
@import "elements/govuk-template-base";

#global-header .header-wrapper .header-global .header-content {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin: 0 $gutter-half;
  width: 75%;
}

.column {
  float: left;
  margin-bottom: $gutter;
  position: relative;
  width: 50%;
  .value {
    position: absolute;
    top: 48%;
    left: 0;
    width: 100%;
    text-align: center;
    color: $link-colour;
    font-weight: bold;
  }
}
.column--small {
  width: 33.3%;
  .value {
    top: 54%;
  }
  h2 {
    text-align: center;
  }
}

@media screen and (max-width: 960px) {
  .column {
    float: none;
    width: 100%;
  }
}

.bottom-gutter {
  margin-bottom: $gutter;
}
